{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
<h1>{{ post.title }}</h1>
<p>By {{ post.author.email }} (⭐ {{ post.author.getReputation() }}) on {{ post.created|date('Y-m-d H:i') }}</p>
<div>
    {{ post.content|nl2br }}
</div>
<p>
    👍 {{ post.getLikes() }} |
    👎 {{ post.getDislikes() }}
</p>

{% if app.user %}
    <a href="{{ path('post_vote', {id: post.id, value: 1}) }}">Like</a>
    <a href="{{ path('post_vote', {id: post.id, value: -1}) }}">Dislike</a>
    {% if app.user == post.author or is_granted('ROLE_ADMIN') %}
        <p><a href="{{ path('post_edit', {'id': post.id}) }}">Edit Post</a></p>
    {% endif %}
{% endif %}

{% if post.updatedAt %}
    <p>Last edited by {{ post.updatedBy.email }} on {{ post.updatedAt|date('Y-m-d H:i') }}</p>
{% endif %}

<a href="{{ path('post_homepage') }}">Back to posts</a>
{% endblock %}