{% extends 'base.html.twig' %}

{% block title %}Person List{% endblock %}

{% block body %}
<h1>Persons</h1>

<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Enable</th>
            <th>Birthdate</th>
            <th>Marital Status</th>
        </tr>
    </thead>
    <tbody>
        {% for person in persons %}
            <tr>
                <td>{{ person.id }}</td>
                <td>{{ person.username }}</td>
                <td>{{ person.name }}</td>
                <td>{{ person.email }}</td>
                <td>{{ person.enable ? 'Yes' : 'No' }}</td>
                <td>{{ person.birthdate ? person.birthdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ person.maritalStatus }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No persons found.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}