{% extends 'base.html.twig' %}

{% block title %}Create Person{% endblock %}

{% block body %}
<h1>Employees</h1>
<a href="{{ path('employee_create') }}">Create Employee</a>

{% for message in app.flashes('success') %}
<div>{{ message }}</div>
{% endfor %}

<table>
<thead>
<tr>
    <th>ID</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Email</th>
    <th>Manager</th>
    <th>Hours</th>
    <th>Position</th>
</tr>
</thead>

<tbody>
{% for employee in employees %}
<tr>
    <td>{{ employee.id }}</td>
    <td>{{ employee.firstname }}</td>
    <td>{{ employee.lastname }}</td>
    <td>{{ employee.email }}</td>
    <td>
        {{ employee.manager ? employee.manager.firstname ~ ' ' ~ employee.manager.lastname : 'None' }}
    </td>
    <td>{{ employee.hours }}</td>
    <td>{{ employee.position }}</td>
</tr>
{% else %}
<tr>
<td colspan="7">No employees found</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}